body{
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/ocean.jpg");
    background-size: 100%;
    }
    
    .adhi{
       background-color:white;
       color: blue;
        text-align: center;   
    }
    .sum{
        color:brown;
        font-family: roboto;
    }
    .button{
      font-size: 18px;
        background-color: #25b1cc; 
        color: white;
    }
    